<form class="main">
    <div class="content">
      <div class="left-side">
        <h1>Hello!</h1>
        <p>Please enter a list of names below to sort them into random teams</p>    
      
        <div class="team-input-row">
          <mat-form-field class="team-input">
            <mat-label>Please enter names seperated by commas.</mat-label>
            <input matInput placeholder="James,Tiffany,Stacey" name="inputTeamMembers" [(ngModel)]="enteredTeamMembers">
        </mat-form-field>
        </div>

        <div class="team-input-row">
          <mat-form-field>
            <mat-label>Number of Teams</mat-label>
            <mat-select [(value)] = "selectedTeamNum" (selectionChange)="onTeamNumberChange($event)">
              @for (num of teamNumOptions; track num) {
                <mat-option [value]="num">{{num}}</mat-option>
              }
            </mat-select>
          </mat-form-field>

          <button mat-stroked-button [disabled]="enteredTeamMembers === ''" (click)="displayRandomTeams($event)">
            Generate
          </button>
          
        </div>

        <div *ngIf="errorMessage" class="error-banner">
          {{ errorMessage }}
        </div>
     
        <div class="submitted-teams" *ngIf="teamsToDisplay.length !== 0">
          <div class="team-card" *ngFor="let item of teamsToDisplay">
            <h3>{{ item.teamName }}</h3>
            <p>{{ item.members.join(', ') }}</p>
          </div>
        </div>
    
      </div>
  
    </div>
  </form>
  
  <router-outlet />